# dependencies
node_modules/
*/node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# production
/build
netlify.toml

# private files
/section1/1A/*
/section3/3A/*
/section3/3B/*
/section3/3C/*



# Local Netlify folder
.netlify

